body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: background 1s;
}

button {
  width: 100px;
  height: 100px;
  color: white;
  background-color: white;
  border: 1px solid white;
  box-shadow: 0px 0px 20px white;
  border-radius: 8px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 360px;
  max-height: 360px;
}